body{
    background-image: url("con2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
     font-family: arial;
     color:whitesmoke;
}
h1{
    color: crimson;
    font-style: italic;
    font-weight: bolder;
    
}
p{
    font-size: 300%;
    font-weight: lighter;
    font-family: monospace;
    color: black;
}
